@page
@model Aoife_Ryan_S00190488.Pages.Students.CreateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "Create";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FormDetails</title>
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @*This is the header*@
    <header>
        <h1>Sligo Creche Application Form</h1>
    </header>

    @*START OF FORM ELEMENT*@
    <form method="post">

        @*SECTION ASKS ABOUT THE CHILD AS FORM INPUT ELEMENTS*@
        <section class="col-sm-6" id="section1">
            <h3>About Child:</h3>

            <div>
                <label asp-for=Student.Firstname></label>
                <input asp-for=Student.Firstname />
                <span asp-validation-for=Student.Firstname></span>
            </div>
            <div>
                <label asp-for=Student.Surname></label>
                <input asp-for=Student.Surname />
                <span asp-validation-for=Student.Surname></span>
            </div>
            <div>
                <label asp-for=Student.ID></label>
                <input asp-for=Student.ID />
                <span asp-validation-for=Student.ID></span>
            </div>

            <div>
                <label asp-for=Student.DOB></label>
                <input asp-for=Student.DOB type="date" />
            </div>
            <div>
                <label asp-for=Student.Gender></label>
                <input asp-for=Student.Gender />
            </div>
        </section>

        @*SECTION ASKS ABOUT THE PARENT AS FORM INPUT ELEMENTS*@
        <article class="col-sm-6" id="section2">
            <div>
                <h3>About Parent/Guardian:</h3>

                <label asp-for=Student.ParentFN></label>
                <input asp-for=Student.ParentFN />
            </div>
            <div>
                <label asp-for=Student.ParentSN></label>
                <input asp-for=Student.ParentSN />
            </div>
            <div>
                <label asp-for=Student.Relationship>Relationship to child</label>
                <input asp-for=Student.Relationship />
            </div>
            <div>
                <label asp-for=Student.Address></label>
                <input asp-for=Student.Address />
            </div>
            <div>
                <label asp-for=Student.MobileNum>Primary Number</label>
                <input asp-for=Student.MobileNum />
            </div>
            <div>
                <label asp-for=Student.SecondNum>Second Number</label>
                <input asp-for=Student.SecondNum />
            </div>
            <div>
                <label asp-for=Student.OtherNum>Third Number</label>
                <input asp-for=Student.OtherNum />
            </div>
            <div>
                <label asp-for=Student.Email1>Primary Email</label>
                <input asp-for=Student.Email1 />
                <span asp-validation-for="Student.Email1"></span>
            </div>
            <div>
                <label asp-for=Student.Email2>Second Email</label>
                <input asp-for=Student.Email2 />
            </div>
        </article>

        @*SECTION USES CHECKBOXES TO GET THE DAYS AND IF FULL TIME OR PART TIME *@
        <section id="section3">
            <div id="div1">
                <h3>Days Requested</h3>
                <div>
                    <label asp-for=Student.Monday>Monday</label>
                    <input type="checkbox" asp-for=Student.Monday />
                </div>
                <div>
                    <label asp-for=Student.Tuesday>Tuesday</label>
                    <input type="checkbox" asp-for=Student.Tuesday />
                </div>
                <div>
                    <label asp-for=Student.Wednesday>Wednesday</label>
                    <input type="checkbox" asp-for=Student.Wednesday />
                </div>
                <div>
                    <label asp-for=Student.Thursday>Thursday</label>
                    <input type="checkbox" asp-for=Student.Thursday />
                </div>
                <div>
                    <label asp-for=Student.Friday>Friday</label>
                    <input type="checkbox" asp-for=Student.Friday />
                </div>
                <br />
            </div>
            <div id="div2">
                <h3>Hours Requested</h3>
                <div>
                    <label asp-for=Student.PartTime>Partime</label>
                    <input type="checkbox" asp-for=Student.PartTime />
                </div>
                <div>
                    <label asp-for=Student.FullTime>Fulltime</label>
                    <input type="checkbox" asp-for=Student.FullTime />
                </div>
                <br />
            </div>
            <div id="div3">
                <h3>Start Date Requested</h3>
                <div>
                    <label asp-for=Student.DOB>Please Enter Start Date</label>
                    <input asp-for=Student.DOB type="date" />
                </div>
            </div>

        </section>

        <br />
        @*SUBMIT BUTTON*@
        <button style="clear:left; " type="submit">Submit here</button>
    </form>
    @*END OF FORM ELEMENT*@

</body>
 </html>
