@page
@model Aoife_Ryan_S00190488.Pages.Students.ListStudentsModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "ListStudents";
}

<h2>ListStudents</h2>

@*THIS LISTS THE NAME AND ID OF THE STUDENT FROM THE STUDENT CLASS IN A TABLE*@
<table class="table">
    <thead>
        <tr>
            <th>Firstname</th>
            <th>Surname</th>
            <th>Personal ID Number</th>
            <th>Application Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>@student.Firstname</td>
                <td>@student.Surname</td>
                <td>@student.ID</td>

                <td> <a asp-page="StudentDetails" asp-route-id="@student.ID">Details and Cost</a></td>
            </tr>
        }
    </tbody>
</table>

