@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@*I HAVE USED THIS AS MY HOMEPAGE*@
<header>
    <h2> The Home Page</h2>
</header>
<section>
    <p>
        Welcome to the site of the Sligo Creche. We are situated in the centre of 
        Sligo town in an easy and convenient location. We are a five team family here and
        we can cater for approximately 20 children. So if you want your child on the list
        Please proceed to fill out the application form on the site to avail of your child's
        spot. We look forward to seeing you soon. 

    </p>
</section>
